<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to EJS</h1>
    <h3><%= "janki".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ex ut, dolor aliquid illum modi aut doloribus eius fuga enim nisi ratione repellat molestiae magnam fugiat delectus adipisci! A corporis quaerat dolores minima vel recusandae aut atque, temporibus harum illo repellendus quia odit perferendis ratione!</p>
    <button>click me!</button>
</body>
</html>